{{- define "main"}}
<div class="col-lg-{{default .controlWidth 9}}">
    <input type="text" name="{{.name}}" class="form-control{{ if .classes }} {{range .classes}}{{.}} {{end}}{{end}}"
           {{- if .id}} id="{{.id}}" {{end -}}
           {{- if .params -}}
           {{- range $k, $v :=.params}} {{$k}}="{{$v}}" {{end -}}
           {{- end -}}
           {{- if .css -}}
           style="{{range $k, $v := .css}}{{$k}}: {{$v}}; {{end}}"
           {{- end -}}
           {{- range $v :=.tags}} {{$v -}}
           {{- end -}}
           {{- if .value -}}
           value="{{.value}}"
           {{end}} />
    {{- if or .helptext .errors -}}
    <span class="help-block">{{if .helptext}}{{raw .helptext }}{{end -}}
            {{if .errors}}<ul>{{ range .errors }}<li>{{.}}</li>{{end -}}
              </ul>{{end -}}
    </span>
    {{- end}}
</div>
{{- end}}


