{{ define "main"}}
{{- if .id}}{{set . "widget_id" .id}}{{else}}{{generateID | set . "widget_id" }} {{end}}
<script>
      if (tpt_form_callbacks == null) {
        tpt_form_callbacks = new Array();
      }
      tpt_form_callbacks.push(function () {
            $('#{{.widget_id}}_cornExpression a').click(function (e) {
                e.preventDefault();
                $(this).tab('show')
            });
    //        function offset(){
    //            var ele = $("#offset");
    //            return ele.val()?"_"+ele.val():""
    //        }
            var cornExpression = [];
            $("#{{.widget_id}}_month select").on("change", function () {
                var month_monthDay = $("#{{.widget_id}}_month_monthDay").val(),
                        month_hour = $("#{{.widget_id}}_month_hour").val(),
                        month_minute = $("#{{.widget_id}}_month_minute").val(),
                        cornExpression = ["0", month_minute, month_hour, month_monthDay, "*", "?" ];
                $("[name='{{.name}}']").val(cornExpression.join(" "));
            });
            $("#{{.widget_id}}_week select").on("change", function () {
                var week_weekDay = $("#{{.widget_id}}_week_weekDay").val(),
                        week_hour = $("#{{.widget_id}}_week_hour").val(),
                        week_minute = $("#{{.widget_id}}_week_minute").val(),
                        cornExpression = ["0", week_minute, week_hour, "?", "*", week_weekDay ];
                $("[name='{{.name}}']").val(cornExpression.join(" "));
            });
            $("#{{.widget_id}}_day select").on("change", function () {
                var day_hour = $("#{{.widget_id}}_day_hour").val(),
                        day_minute = $("#{{.widget_id}}_day_minute").val(),
                        cornExpression = ["0", day_minute, day_hour, "*", "*", "?" ];
                $("[name='{{.name}}']").val(cornExpression.join(" "));
            });
            $("#{{.widget_id}}_hour select").on("change", function () {
                var hour_hour = $("#{{.widget_id}}_hour_hour").val(),
                        cornExpression = ["0", "0", "0/" + hour_hour, "*", "*", "?" ];
                $("[name='{{.name}}']").val(cornExpression.join(" "));
            });
            $("#{{.widget_id}}_offset").on("change", function () {
                $(".tab-content .active select").trigger("change")
            });
            $("#{{.widget_id}}_cornExpression").on("change", "select", function () {
                $("[name='{{.name}}']").trigger("change")
            });
        });
</script>

        <div class="list-group-item">
            <ul class="nav nav-tabs" role="tablist" id="{{.widget_id}}_cornExpression">
                <li role="presentation" class="active"><a href="#{{.widget_id}}_month" style="color:#555">每月</a></li>
                <li role="presentation"><a href="#{{.widget_id}}_week" style="color:#555">每周</a></li>
                <li role="presentation"><a href="#{{.widget_id}}_day"  style="color:#555">每日</a></li>
                <li role="presentation"><a href="#{{.widget_id}}_hour" style="color:#555">每时</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="{{.widget_id}}_month">
                    <span>每月</span>
                    <select id="{{.widget_id}}_month_monthDay">
                        <option value="1">1日</option>
                        <option value="2">2日</option>
                        <option value="3">3日</option>
                        <option value="4">4日</option>
                        <option value="5">5日</option>
                        <option value="6">6日</option>
                        <option value="7">7日</option>
                        <option value="8">8日</option>
                        <option value="9">9日</option>
                        <option value="10">10日</option>
                        <option value="11">11日</option>
                        <option value="12">12日</option>
                        <option value="13">13日</option>
                        <option value="14">14日</option>
                        <option value="15">15日</option>
                        <option value="16">16日</option>
                        <option value="17">17日</option>
                        <option value="18">18日</option>
                        <option value="19">19日</option>
                        <option value="20">20日</option>
                        <option value="21">21日</option>
                        <option value="22">22日</option>
                        <option value="23">23日</option>
                        <option value="24">24日</option>
                        <option value="25">25日</option>
                        <option value="26">26日</option>
                        <option value="27">27日</option>
                        <option value="28">28日</option>
                        <option value="29">29日</option>
                        <option value="30">30日</option>
                        <option value="30">31日</option>
                    </select>
                    <span>的</span>
                    <select id="{{.widget_id}}_month_hour">
                        <option value="0">0时</option>
                        <option value="1">1时</option>
                        <option value="2">2时</option>
                        <option value="3">3时</option>
                        <option value="4">4时</option>
                        <option value="5">5时</option>
                        <option value="6">6时</option>
                        <option value="7">7时</option>
                        <option value="8">8时</option>
                        <option value="9">9时</option>
                        <option value="10">10时</option>
                        <option value="11">11时</option>
                        <option value="12">12时</option>
                        <option value="13">13时</option>
                        <option value="14">14时</option>
                        <option value="15">15时</option>
                        <option value="16">16时</option>
                        <option value="17">17时</option>
                        <option value="18">18时</option>
                        <option value="19">19时</option>
                        <option value="20">20时</option>
                        <option value="21">21时</option>
                        <option value="22">22时</option>
                        <option value="23">23时</option>
                    </select>
                    <span>:</span>
                    <select id="{{.widget_id}}_month_minute">
                        <option value="0">0分</option>
                        <option value="1">1分</option>
                        <option value="2">2分</option>
                        <option value="3">3分</option>
                        <option value="4">4分</option>
                        <option value="5">5分</option>
                        <option value="6">6分</option>
                        <option value="7">7分</option>
                        <option value="8">8分</option>
                        <option value="9">9分</option>
                        <option value="10">10分</option>
                        <option value="11">11分</option>
                        <option value="12">12分</option>
                        <option value="13">13分</option>
                        <option value="14">14分</option>
                        <option value="15">15分</option>
                        <option value="16">16分</option>
                        <option value="17">17分</option>
                        <option value="18">18分</option>
                        <option value="19">19分</option>
                        <option value="20">20分</option>
                        <option value="21">21分</option>
                        <option value="22">22分</option>
                        <option value="23">23分</option>
                        <option value="24">24分</option>
                        <option value="25">25分</option>
                        <option value="26">26分</option>
                        <option value="27">27分</option>
                        <option value="28">28分</option>
                        <option value="29">29分</option>
                        <option value="30">30分</option>
                        <option value="31">31分</option>
                        <option value="32">32分</option>
                        <option value="33">33分</option>
                        <option value="34">34分</option>
                        <option value="35">35分</option>
                        <option value="36">36分</option>
                        <option value="37">37分</option>
                        <option value="38">38分</option>
                        <option value="39">39分</option>
                        <option value="40">40分</option>
                        <option value="41">41分</option>
                        <option value="42">42分</option>
                        <option value="43">43分</option>
                        <option value="44">44分</option>
                        <option value="45">45分</option>
                        <option value="46">46分</option>
                        <option value="47">47分</option>
                        <option value="48">48分</option>
                        <option value="49">49分</option>
                        <option value="50">50分</option>
                        <option value="51">51分</option>
                        <option value="52">52分</option>
                        <option value="53">53分</option>
                        <option value="54">54分</option>
                        <option value="55">55分</option>
                        <option value="56">56分</option>
                        <option value="57">57分</option>
                        <option value="58">58分</option>
                        <option value="59">59分</option>
                    </select>
                </div>
                <div role="tabpanel" class="tab-pane" id="{{.widget_id}}_week">
                    <span>每周:</span>
                    <select id="{{.widget_id}}_week_weekDay">
                        <option value="SUN">星期日</option>
                        <option value="MON">星期一</option>
                        <option value="TUE">星期二</option>
                        <option value="WED">星期三</option>
                        <option value="THU">星期四</option>
                        <option value="FIR">星期五</option>
                        <option value="SAT">星期六</option>
                    </select>
                    <span>的</span>
                    <select id="{{.widget_id}}_week_hour">
                        <option value="0">0时</option>
                        <option value="1">1时</option>
                        <option value="2">2时</option>
                        <option value="3">3时</option>
                        <option value="4">4时</option>
                        <option value="5">5时</option>
                        <option value="6">6时</option>
                        <option value="7">7时</option>
                        <option value="8">8时</option>
                        <option value="9">9时</option>
                        <option value="10">10时</option>
                        <option value="11">11时</option>
                        <option value="12">12时</option>
                        <option value="13">13时</option>
                        <option value="14">14时</option>
                        <option value="15">15时</option>
                        <option value="16">16时</option>
                        <option value="17">17时</option>
                        <option value="18">18时</option>
                        <option value="19">19时</option>
                        <option value="20">20时</option>
                        <option value="21">21时</option>
                        <option value="22">22时</option>
                        <option value="23">23时</option>
                    </select>
                    <span>:</span>
                    <select id="{{.widget_id}}_week_minute">
                        <option value="0">0分</option>
                        <option value="1">1分</option>
                        <option value="2">2分</option>
                        <option value="3">3分</option>
                        <option value="4">4分</option>
                        <option value="5">5分</option>
                        <option value="6">6分</option>
                        <option value="7">7分</option>
                        <option value="8">8分</option>
                        <option value="9">9分</option>
                        <option value="10">10分</option>
                        <option value="11">11分</option>
                        <option value="12">12分</option>
                        <option value="13">13分</option>
                        <option value="14">14分</option>
                        <option value="15">15分</option>
                        <option value="16">16分</option>
                        <option value="17">17分</option>
                        <option value="18">18分</option>
                        <option value="19">19分</option>
                        <option value="20">20分</option>
                        <option value="21">21分</option>
                        <option value="22">22分</option>
                        <option value="23">23分</option>
                        <option value="24">24分</option>
                        <option value="25">25分</option>
                        <option value="26">26分</option>
                        <option value="27">27分</option>
                        <option value="28">28分</option>
                        <option value="29">29分</option>
                        <option value="30">30分</option>
                        <option value="31">31分</option>
                        <option value="32">32分</option>
                        <option value="33">33分</option>
                        <option value="34">34分</option>
                        <option value="35">35分</option>
                        <option value="36">36分</option>
                        <option value="37">37分</option>
                        <option value="38">38分</option>
                        <option value="39">39分</option>
                        <option value="40">40分</option>
                        <option value="41">41分</option>
                        <option value="42">42分</option>
                        <option value="43">43分</option>
                        <option value="44">44分</option>
                        <option value="45">45分</option>
                        <option value="46">46分</option>
                        <option value="47">47分</option>
                        <option value="48">48分</option>
                        <option value="49">49分</option>
                        <option value="50">50分</option>
                        <option value="51">51分</option>
                        <option value="52">52分</option>
                        <option value="53">53分</option>
                        <option value="54">54分</option>
                        <option value="55">55分</option>
                        <option value="56">56分</option>
                        <option value="57">57分</option>
                        <option value="58">58分</option>
                        <option value="59">59分</option>
                    </select>

                </div>
                <div role="tabpanel" class="tab-pane" id="{{.widget_id}}_day">
                    <span>每天 的</span>
                    <select id="{{.widget_id}}_day_hour">
                        <option value="0">0时</option>
                        <option value="1">1时</option>
                        <option value="2">2时</option>
                        <option value="3">3时</option>
                        <option value="4">4时</option>
                        <option value="5">5时</option>
                        <option value="6">6时</option>
                        <option value="7">7时</option>
                        <option value="8">8时</option>
                        <option value="9">9时</option>
                        <option value="10">10时</option>
                        <option value="11">11时</option>
                        <option value="12">12时</option>
                        <option value="13">13时</option>
                        <option value="14">14时</option>
                        <option value="15">15时</option>
                        <option value="16">16时</option>
                        <option value="17">17时</option>
                        <option value="18">18时</option>
                        <option value="19">19时</option>
                        <option value="20">20时</option>
                        <option value="21">21时</option>
                        <option value="22">22时</option>
                        <option value="23">23时</option>
                    </select>
                    <span>:</span>
                    <select id="{{.widget_id}}_day_minute">
                        <option value="0">0分</option>
                        <option value="1">1分</option>
                        <option value="2">2分</option>
                        <option value="3">3分</option>
                        <option value="4">4分</option>
                        <option value="5">5分</option>
                        <option value="6">6分</option>
                        <option value="7">7分</option>
                        <option value="8">8分</option>
                        <option value="9">9分</option>
                        <option value="10">10分</option>
                        <option value="11">11分</option>
                        <option value="12">12分</option>
                        <option value="13">13分</option>
                        <option value="14">14分</option>
                        <option value="15">15分</option>
                        <option value="16">16分</option>
                        <option value="17">17分</option>
                        <option value="18">18分</option>
                        <option value="19">19分</option>
                        <option value="20">20分</option>
                        <option value="21">21分</option>
                        <option value="22">22分</option>
                        <option value="23">23分</option>
                        <option value="24">24分</option>
                        <option value="25">25分</option>
                        <option value="26">26分</option>
                        <option value="27">27分</option>
                        <option value="28">28分</option>
                        <option value="29">29分</option>
                        <option value="30">30分</option>
                        <option value="31">31分</option>
                        <option value="32">32分</option>
                        <option value="33">33分</option>
                        <option value="34">34分</option>
                        <option value="35">35分</option>
                        <option value="36">36分</option>
                        <option value="37">37分</option>
                        <option value="38">38分</option>
                        <option value="39">39分</option>
                        <option value="40">40分</option>
                        <option value="41">41分</option>
                        <option value="42">42分</option>
                        <option value="43">43分</option>
                        <option value="44">44分</option>
                        <option value="45">45分</option>
                        <option value="46">46分</option>
                        <option value="47">47分</option>
                        <option value="48">48分</option>
                        <option value="49">49分</option>
                        <option value="50">50分</option>
                        <option value="51">51分</option>
                        <option value="52">52分</option>
                        <option value="53">53分</option>
                        <option value="54">54分</option>
                        <option value="55">55分</option>
                        <option value="56">56分</option>
                        <option value="57">57分</option>
                        <option value="58">58分</option>
                        <option value="59">59分</option>
                    </select>
                </div>
                <div role="tabpanel" class="tab-pane" id="{{.widget_id}}_hour">
                    <span>每隔</span>
                    <select id="{{.widget_id}}_hour_hour">
                        <option value="1">1时</option>
                        <option value="2">2时</option>
                        <option value="3">3时</option>
                        <option value="4">4时</option>
                        <option value="5">5时</option>
                        <option value="6">6时</option>
                        <option value="7">7时</option>
                        <option value="8">8时</option>
                        <option value="9">9时</option>
                        <option value="10">10时</option>
                        <option value="11">11时</option>
                        <option value="12">12时</option>
                        <option value="13">13时</option>
                        <option value="14">14时</option>
                        <option value="15">15时</option>
                        <option value="16">16时</option>
                        <option value="17">17时</option>
                        <option value="18">18时</option>
                        <option value="19">19时</option>
                        <option value="20">20时</option>
                        <option value="21">21时</option>
                        <option value="22">22时</option>
                        <option value="23">23时</option>
                    </select>
                    <span>小时</span>
                </div>
            </div>

            <div style="height: 10px"></div>
            <div>
                <input type="text" readonly name="{{.name}}" class="{{ if .classes }} {{range .classes}}{{.}} {{end}}{{end}}"
                       {{- if .id}} id="{{.id}}" {{end}}
                       {{- if .params}}
                         {{- range $k, $v :=.params}} {{$k}}="{{$v}}"{{end}}{{end}}
                         {{- if .css}} style="{{range $k, $v := .css}}{{$k}}: {{$v}}; {{end}}"
                         {{- end}}
                         {{- range $v :=.tags}} {{$v}}{{end}}
                         {{- if .value}} value="{{.value}}" {{end}}>
                {{- if or .helptext .errors }}
                <span class="help-block">
                  {{- if .helptext}}{{raw .helptext }}{{end}}
                  {{- if .errors}}
                  <ul>
                    {{- range .errors }}
                    <li>{{.}}</li>
                    {{- end}}
                  </ul>
                  {{- end}}
                </span>
                {{- end}}
            </div>
        </div>
{{- end}}